/* INIZIO RESET */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

:root {
	--color-blue: #0061FF;
	--color-skygrey: #B4D0E7;
	--color-red: #D5001F;
	--color-navy: #0D2481;
	--color-ocra: #FFD830;
	--color-pastelgreen: #A2D39B;
	--color-lightgreen: #D1E9CD;
	--color-bordeaux: #61082B;
	--color-skyblue: #0093CE;
	--color-lightblue: #00B4FF;
}

p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 5rem;
	margin: 0;
	margin-bottom: 3rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
}

.lowpadding {
	padding-bottom: 1.5rem;
}

.midpadding {
	padding-bottom: 2rem;
}

.highpadding {
	padding-bottom: 3rem;
}

.lowmargin {
	margin-bottom: 1.5rem;
}

.midmargin {
	margin-bottom: 2rem;
}

.ultrapadding {
	padding-bottom: 5.5rem;
}

.highmargin {
	margin-bottom: 3rem;
}

.ultramargin {
	margin-bottom: 5.5rem;
}

.mainbodypadding {
	padding-right: 5rem;
	padding-left: 5rem;
}

.spacebetween{
	justify-content: space-between;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.sticky {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: white;
	z-index: 1;
}

.centeralign{
	align-items: center;
}

/* FINE RESET */

.headernav {
	padding: 0.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.navelement {
	display: flex;
	align-items: center;
}

.navelement img {
	padding-right: 1.5rem;
}


.navelement ul {
	list-style: none;

}

.navelement ul li {
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
	text-decoration: none;
	color: black;
	position: relative;
	line-height: 82px;
}

.btn {
	background-color: var(--color-blue);
	color: white;
	padding: 0.8rem 1rem;
	display: inline-block;
	white-space: nowrap;
}

.bgcontainer {
	background-color: var(--color-skygrey);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.headerflex {
	display: flex;
	justify-content: space-between;
	align-items: top;
	font-size: 1.2rem;
}

.mainflex {
	display: flex;
	gap: 2rem;
}

.footerflex{
	display: flex;
	gap: 0;
	width: 100%;
}

.footerboxes {
	width: calc(100% / 3);
	display: flex;
	flex-direction: column;
	gap: 0;
}

.footerbigbox{
		width: calc(100% / 3);
	display: flex;
}

.jumboimg img {
	max-width: 875px;
}

.floatingheader {
	bottom: -80px;
}

.table {
	width: 100%;
}

.tableborder {
	border: 1px solid lightgray;
}

.table-title {
	text-align: center;
	border-bottom: 1px solid lightgray;
	padding: 0.5rem 0;
}

.tablecontainer {
	padding: 0 2.2rem;
}

.tablehr {
	background-color: lightgray;
	max-width: 60px;
	margin-left: 0;
	display: block;
}

.fa-check {
	color: var(--color-blue);
}

.tableperiod {
	color: lightgray;
}

.btn-flex {
	display: flex;
	justify-content: center;
}

.link-underlineblue {
	text-decoration: underline;
	color: var(--color-blue);
	display: inline-block;
}

.partner-btn {
	background-color: transparent;
	color: black;
	border: solid 1px black;
}

.brandbox {
	width: calc(100% / 2);
	aspect-ratio: 1;
	box-sizing: border-box;
	display: flex;
}

.brandbox-row {
	display: flex;
	background-color: rgb(236, 236, 236);
}

.brandbox img {
	display: block;
	width: 150px;
	margin: auto;
}

.bordeaux {
	background-color: var(--color-bordeaux);
}

.lightgreen {
	background-color: var(--color-pastelgreen);
	border: solid 14px var(--color-lightgreen);
}

.red {
	background-color: var(--color-red);
}

.skyblue {
	background-color: var(--color-skyblue);
}

.navy{
	background-color: var(--color-navy);
}

.ocra{
	background-color: var(--color-ocra);
}

.skygrey{
	background-color: var(--color-skygrey);
}

.footerlogo img{
	max-width: 300px;
}

.paddingcontainer{
	padding: 3rem;
}

.skybg{
	background-color: var(--color-skygrey);
}

.skybg h2{
	color: var(--color-bordeaux);
	padding: 4rem 0;
	display: inline-block;
}

.skybg a .btn{
	background-color: white;
	color: black;
	white-space: nowrap;
	display: inline-block;
}

.darkbg{
	background-color: black;
}

.darkbg .container.mainflex{
	color: white;
	justify-content: space-between;
	padding: 2.5rem 0;
}

.darkbg .container.mainflex ul{
	list-style: none;
	padding-inline-start: 0;
}

.darkbg .container.mainflex ul li{
	padding-bottom: 1.1rem;
}

.footerlanguage{
	padding: 2.5rem 0;
	color: grey;
}

.btn:hover{
	background-color: var(--color-lightblue);
	transition: 0.1s;
}

.skybg a .btn:hover{
	background-color: lightgray;
	transition: 0.1s;
}

.partner-btn:hover{
	background-color: lightgray;
	transition: 0.1s;
}

.navelement ul li.btn {
	background-color: var(--color-blue);
	color: white;
	padding: 0.5rem 1rem;
	line-height: 20px;
}

.navelement ul li.btn:hover{
	background-color: var(--color-lightblue);
	transition: 0.1s;
	border: none;
}

.navelement ul li:hover {
	border-bottom: 2px solid black;
	transition: 0.1s;
}

.description{
	display: none;
}

div.faq:hover + .description{
	display: block;
}






