/* INIZIO RESET */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    --color-blue: #0061FF;
    --color-skygrey: #B4D0E7;
    --color-red: #D5001F;
    --color-navy: #0D2481;
    --color-ocra: #FFD830;
    --color-pastelgreen: #A2D39B;
    --color-lightgreen: #D1E9CD;
    --color-bordeaux: #61082B;
    --color-skyblue: #0093CE;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
    margin: 0;
    margin-bottom: 3rem;
}

.lowpadding {
    padding-bottom: 1.5rem;
}

.midpadding {
    padding-bottom: 2rem;
}

.highpadding {
    padding-bottom: 3rem;
}

.lowmargin {
    margin-bottom: 1.5rem;
}

.midmargin {
    margin-bottom: 2rem;
}

.ultrapadding {
    padding-bottom: 5.5rem;
}

.highmargin {
    margin-bottom: 3rem;
}


.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: white;
}

/* FINE RESET */

.headernav {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navelement {
    display: flex;
    align-items: center;
}

.navelement img {
    padding-right: 1.5rem;
}


.navelement ul {
    list-style: none;
    padding: 0 1rem;

}

.navelement ul li {
    display: inline-block;
    padding-right: 1.5rem;
    text-decoration: none;
    color: black;
}

.navelement ul li.btn {
    background-color: var(--color-blue);
    color: white;
    padding: 0.5rem 1rem;
}

.btn {
    background-color: var(--color-blue);
    color: white;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.bgcontainer {
    background-color: var(--color-skygrey);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.headerflex {
    display: flex;
    justify-content: space-between;
    align-items: top;
    font-size: 1.2rem;
}


.jumboimg img {
    max-width: 875px;
}

.floatingheader {
    bottom: -80px;
}